<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
        <div class="row form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" formControlName="username">
          <span *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched" [ngStyle]="{'color':'red'}">Please enter a username</span>
        </div>
        <div class="row form-group">
          <label for="password">Password</label>
          <input type="text" class="form-control" id="password" formControlName="password">
          <span *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched" [ngStyle]="{'color':'red'}">Please enter a password</span>
        </div>

        <div class="row" *ngIf="wrongCredentials" [ngStyle]="{'color':'red'}">Either username or password is incorrect!</div>
        <div class="row">
          <!-- <button class="btn btn-primary rounded-0" [disabled]="loginForm.invalid || loginUnauthorized">Login</button> -->
          <button class="btn btn-primary rounded-0" [disabled]="loginForm.invalid || loginUnauthorized">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
