<div class="container-fluid">
  <div class="col-sm-6">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" formControlName="username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password" formControlName="password">
      </div>

      <span *ngIf="loginUnauthorized" [ngStyle]="{'color':'red'}">Either username or password is incorrect.</span>
      <button class="submitButton" [disabled]="loginForm.invalid || loginUnauthorized">Login</button>
    </form>
  </div>
</div>
