<br>
<br>
<div class="container">
  <form [formGroup]="nomForm" (ngSubmit)="onFormSubmit()">
    <button type="button" class="btn btn-default rounded-0 bottomMargin2" (click)="addANominee()">Add a nominee</button>

    <hr>
    <b>
      <div class="row">
        <div class="col-sm-1">#</div>
        <div class="col-sm-4">Nominee Name</div>
        <div class="col-sm-2">Relation</div>
        <div class="col-sm-2">Contact Number</div>
      </div>
    </b>

    <hr>
    <div formArrayName="nomineeArray">
      <div *ngFor=" let nominee of nomForm.get('nomineeArray').controls; let i = index">
        <div formGroupName="{{i}}">
          <div class="row bottomMargin1">
            <p class="col-sm-1">{{i+1}}</p>
            <input type="text" class="form-control col-sm-4" name="nomineeName" formControlName="nomineeName">&nbsp;
            <input type="text" class="form-control col-sm-2" formControlName="relation">&nbsp;
            <input type="number" class="form-control col-sm-2" formControlName="contactNum">&nbsp;
            <button type="button" class="btn btn-danger rounded-0" (click)="deleteANominee(i)">Delete</button>
          </div>
          <span style="color:red" *ngIf="nominee.get('nomineeName').invalid && nominee.get('nomineeName').touched">
            Please enter a nominee name!
          </span>
          <span style="color:red" *ngIf="nominee.get('relation').invalid && nominee.get('relation').touched">Please enter your relation with nominee!</span>
          <span style="color:red" *ngIf="nominee.get('contactNum').invalid && nominee.get('contactNum').touched">Please enter the contact number of your nominee!</span>
        </div>
      </div>
    </div>
    <hr>
    <br>
    <button class="btn btn-primary rounded-0">Submit</button>
  </form>
</div>
