<div class="container">
  <div class="col-sm-8 col-xm-offset-2">
    <form [formGroup]="addEmpForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" formControlName="firstName" class="form-control col-sm-8" name="firstName" id="firstName">
        <span *ngIf="addEmpForm.get('firstName').invalid && addEmpForm.get('firstName').touched">Please enter a name!</span>
      </div>
      <div class="form-group">
        <label for="middleName">Middle Name:</label>
        <input type="text" formControlName="middleName" class="form-control col-sm-8" name="middleName" id="middleName">
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" formControlName="lastName" class="form-control col-sm-8" name="lastName" id="lastName">
        <span *ngIf="addEmpForm.get('lastName').invalid && addEmpForm.get('lastName').touched">Please enter a last name!</span>

      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" formControlName="email" class="form-control col-sm-8" name="email" id="email">
        <span *ngIf="addEmpForm.get('email').invalid && addEmpForm.get('email').touched">Please enter a valid email!</span>

      </div>
      <div class="form-group">
        <label for="domainName">Doamin name:</label>
        <input type="text" formControlName="domainName" class="form-control col-sm-8" name="domainName" id="domainName">
        <span *ngIf="addEmpForm.get('domainName').invalid && addEmpForm.get('domainName').touched">Please enter a domain name!</span>
      </div>
      <button class="submitButton" type="submit">Submit</button>
    </form>
  </div>
</div>
