<div class="container-fluid">
  <div style="color: red">
    <b>
      <p>Remove email and add user type field here.</p>
    </b>
  </div>

  <div class="col-sm-8 col-xm-offset-2" *ngIf="!submittedSuccessfully">
    <!-- <br>
    <br> -->
    <form [formGroup]="addEmpForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstname">First Name:</label>
        <input type="text" formControlName="firstname" class="form-control col-sm-8" name="firstname" id="firstname">
        <span *ngIf="addEmpForm.get('firstname').invalid && addEmpForm.get('firstname').touched" [ngStyle]="{'color':'red'}">Please enter a name!</span>
      </div>
      <div class="form-group">
        <label for="middlename">Middle Name:</label>
        <input type="text" formControlName="middlename" class="form-control col-sm-8" name="middlename" id="middlename">
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" formControlName="lastname" class="form-control col-sm-8" name="lastname" id="lastname">
        <span *ngIf="addEmpForm.get('lastname').invalid && addEmpForm.get('lastname').touched" [ngStyle]="{'color':'red'}">Please enter a last name!</span>

      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" formControlName="email" class="form-control col-sm-8" name="email" id="email">
        <span *ngIf="addEmpForm.get('email').invalid && addEmpForm.get('email').touched" [ngStyle]="{'color':'red'}">Please enter a valid email!</span>

      </div>
      <div class="form-group">
        <label for="domainname">Doamin name:</label>
        <input type="text" formControlName="domainname" class="form-control col-sm-8" name="domainname" id="domainname">
        <span *ngIf="addEmpForm.get('domainname').invalid && addEmpForm.get('domainname').touched" [ngStyle]="{'color':'red'}">Please enter a domain name!</span>
      </div>
      <button class="btn btn-primary rounded-0" type="submit" [disabled]="addEmpForm.invalid">Submit</button>
    </form>
  </div>
  <div *ngIf="submittedSuccessfully">
    <br>
    <br>
    <p>New employee successfully added!</p>
  </div>
</div>
